* {
    --sans: "Inter", sans-serif, -apple-system, ui-sans-serif, system-ui,
        blinkmacsystemfont, sego ui, roboto, helvetica neue, arial, noto sans,
        sans-serif, monospace;
    margin: 0;
    padding: 0;
    font-family: var(--sans);
}

.navmain {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    position: fixed;
}

.navlogo {
    width: 180px;
    height: 95px;
    margin-left: 30px;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 20px;
}
.messagebtn {
    padding: 0.5rem 0.4rem;
    font-size: 17px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid #000000;
}
.alertsbtn {
    padding: 0.6rem 0.5rem;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    color: #000000;
}
.messagebtn:hover {
    background-color: rgb(42, 154, 220);
    transition: all 0.2s ease-in-out;
}

.profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    text-align: end;
}

.profile h3 {
    text-align: end;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 600;
}

.profile p {
    line-height: 1;
    font-size: 14px;
    opacity: 0.6;
}

.profile .img-box {
    border: 2.25px solid rgb(42, 154, 220);
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile {
    position: relative;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .navlogo {
        width: 200px;
        height: 140px;
        margin-left: 20px;
        margin-top: 35px;
    }
    .profile p {
        font-size: 18px;
        text-align: center;
    }
    .profile h3 {
        font-size: 20px;
        font-weight: 600;
    }
    .profile .img-box {
        width: 60px;
        height: 60px;
    }
}
